*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(5.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: new time roman;
}
h1{
	color: pink;
	margin-top: 40px;

}
.input-group{
	margin-top: 20px
}
.input-group-addon{
	background:transparent;
	border-bottom: 0px;
	border: 0px;
	border-bottom: 2px solid white;
	color: pink;
	font-size: 20px;
	padding: 10px;
}
.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 2px solid pink;
	height: 45px;
	padding: 20px;
	font-size: 20px;
	color: pink;
}
p{
	font-size: 19px;
	margin-top: 20px;
	color: pink;
}
.btn-danger{
	border-radius: 10px;
	font-size: 19px;
	width: 190px;
	margin-top: 25px;
	position: center;
	border-bottom: 80px;
}
.col-md-6{
	background: rgb(0,0,0,0.4);
	margin-top: 90px;
	box-shadow: 1px 4px 50px white;
	border-radius: 25px;	
}
.col-md-6:hover{
	background: rgb(0,0,0,0.4);
	margin-top: 90px;
	box-shadow: 4px 4px 50px pink;
}
#btn{
	text-decoration: none;
	color: pink;
	position: center;
}
#btn:hover{
	color: white;
}